<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
      <!-- The URL should be a Jenkins XML API URL like http://jenkins/view/CustomerName/api/xml or http://jenkins/job/JobName/api/xml.
           You can also use XPath as specified in the Jenkins API. -->
      <add key="jenkinsUrl" value="http://jenkins/view/CustomerName/api/xml" />
  </appSettings>
</configuration>